<!DOCTYPE html>
<html>
	<head>
		{% include "skeleton/meta.html.twig" %}
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
		<link
		rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700"/>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<script type="text/javascript" src="{{ asset('build/material-dashboard.min.js') }}"></script>
	</head>
	<body class="g-sidenav-show  bg-gray-200">
		<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
			<div class="sidenav-header h-25">
				<i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
				<a class="navbar-brand m-0">
					<img src="{{ asset('assets/logo/logo.webp') }}" class="navbar-brand-img img-fluid mh-100" alt="main_logo">
				</a>
			</div>
			<hr class="horizontal light mt-0 mb-2">
			{% include "skeleton/menu.html.twig" %}
		</aside>
		<main
			class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
			<!-- Navbar -->
			<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
				<div class="container-fluid py-1 px-3">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
							<li class="breadcrumb-item text-sm">
								<a class="opacity-5 text-dark" href="javascript:;">Pages</a>
							</li>
							<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
						</ol>
					</nav>
					<div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
						<div class="ms-md-auto pe-md-3 d-flex align-items-center">
							<div class="input-group input-group-outline">
								<label class="form-label">Type here...</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<ul class="navbar-nav  justify-content-end">
							<li class="nav-item d-flex align-items-center">
								<a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
									<i class="fa fa-user me-sm-1"></i>
									<span class="d-sm-inline d-none">Sign In</span>
								</a>
							</li>
							<li class="nav-item d-xl-none ps-3 d-flex align-items-center">
								<a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
									<div class="sidenav-toggler-inner">
										<i class="sidenav-toggler-line"></i>
										<i class="sidenav-toggler-line"></i>
										<i class="sidenav-toggler-line"></i>
									</div>
								</a>
							</li>						
						</ul>
					</div>
				</div>
			</nav>
			<!-- End Navbar -->
			<div
				class="container-fluid py-4">
				{# Bloque #}
				{% block body %}{% endblock %}
			</div>
		</main>
	</body>
</html>
